In [1]:
import pandas as pd

filmes = pd.read_csv('data/movies.csv')
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [2]:
trocar = {'movieId':'filmeId', 'title':'titulo','genres':'generos'}
filmes.rename(columns = trocar, inplace = True)
filmes = filmes.set_index('filmeId')
filmes.head()

,titulo,generos
filmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [3]:
notas = pd.read_csv('data/ratings.csv')
trocar = {'userId':'usuarioId', 'movieId':'filmeId', 'rating':'nota', 'timestamp':'momento'}
notas.rename(columns = trocar, inplace = True)
notas.head()

   usuarioId  filmeId  nota     momento
0          1      307   3.5  1256677221
1          1      481   3.5  1256677456
2          1     1091   1.5  1256677471
3          1     1257   4.5  1256677460
4          1     1449   4.5  1256677264

# Primeira tentativa de recomendação

In [4]:
total_de_votos = notas['filmeId'].value_counts()
total_de_votos.head()

318     97999
356     97040
296     92406
593     87899
2571    84545
Name: filmeId, dtype: int64

In [5]:
filmes.loc[318]

titulo     Shawshank Redemption, The (1994)
generos                         Crime|Drama
Name: 318, dtype: object

In [6]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

,titulo,generos,total_de_votos
filmeId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68469.0
2,Jumanji (1995),Adventure|Children|Fantasy,27143.0
3,Grumpier Old Men (1995),Comedy|Romance,15585.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2989.0
5,Father of the Bride Part II (1995),Comedy,15474.0

In [7]:
filmes.sort_values('total_de_votos', ascending = False)

,titulo,generos,total_de_votos
filmeId,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,97999.0
356,Forrest Gump (1994),Comedy|Drama|Romance|War,97040.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,92406.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,87899.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,84545.0
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,81815.0
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,76451.0
527,Schindler's List (1993),Drama|War,71516.0
110,Braveheart (1995),Action|Drama|War,68803.0
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68469.0
1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,66023.0
1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,65822.0
2959,Fight Club (1999),Action|Crime|Drama|Thriller,65678.0
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,64258.0
1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,63505.0
50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,62180.0
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,61883.0
858,"Godfather, The (1972)",Crime|Drama,60904.0
2858,American Beauty (1999),Drama|Romance,60820.0
780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,58949.0
150,Apollo 13 (1995),Adventure|Drama|IMAX,58665.0
457,"Fugitive, The (1993)",Thriller,58031.0
1270,Back to the Future (1985),Adventure|Comedy|Sci-Fi,57492.0
7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,57378.0
5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,56696.0
47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,55240.0
32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,54846.0
608,Fargo (1996),Comedy|Crime|Drama|Thriller,54500.0
592,Batman (1989),Action|Crime|Thriller,54448.0
2028,Saving Private Ryan (1998),Action|Drama|War,54027.0
...,...,...,...
190961,Poor Boy,Drama,NaN
190965,En Busca del Muñeco Perdido,Adventure|Comedy,NaN
190967,We Are Thr3e (2017),(no genres listed),NaN
190969,One Sister (2016),(no genres listed),NaN
190971,Hellacious Acres: The Case of John Glass (2011),(no genres listed),NaN
190983,Potteries (1981),Drama,NaN
191509,Ghost of Chibusa Enoki (1958),Horror,NaN
191511,In the Game (2018),Comedy,NaN
191643,Little Pink House (2018),Drama,NaN
191659,Occupy Unmasked (2012),Documentary,NaN
191661,Shot! The Psycho-Spiritual Mantra of Rock (2016),Documentary,NaN
191665,A Constant Forge (2000),Documentary,NaN
191667,Beastie Boys: Video Anthology (2000),Documentary,NaN
191671,Dark Sands (1937),Adventure|Drama,NaN
191673,W.C. Fields: 6 Short Films (2000),Comedy,NaN
191675,Eight Hours Don't Make a Day (1972),Drama,NaN
191677,The Making of Fanny and Alexander (1986),Documentary,NaN
191683,Symbiopsychotaxiplasm: Take 2 ½ (2005),Documentary,NaN
191697,Lottery,(no genres listed),NaN
191699,Hezarpa (2018),Comedy,NaN
191869,The Old Man and the Gun (2018),(no genres listed),NaN
191899,No Good Heroes (2018),Comedy|Drama|Horror,NaN
191905,Budapest Tales (1977),Drama,NaN
191907,"Elisa, My Life (1977)",Drama,NaN
192397,Rip Girls (2000),Children|Drama|Romance,NaN
192399,Under Wraps (1997),Children|Comedy|Horror,NaN
192933,Rosie (2018),Drama,NaN
193109,Ach śpij kochanie (2017),Crime|Thriller,NaN
193321,Pledges (2018),Comedy|Horror,NaN
193593,The Happy Thieves (1962),Comedy|Crime|Drama,NaN

In [8]:
notas_medias = notas.groupby('filmeId').mean()['nota']
notas_medias.head()

filmeId
1    3.886649
2    3.246583
3    3.173981
4    2.874540
5    3.077291
Name: nota, dtype: float64

In [9]:
filmes['nota_media'] = notas_medias
filmes.head()

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68469.0,3.886649
2,Jumanji (1995),Adventure|Children|Fantasy,27143.0,3.246583
3,Grumpier Old Men (1995),Comedy|Romance,15585.0,3.173981
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2989.0,2.874540
5,Father of the Bride Part II (1995),Comedy,15474.0,3.077291

In [10]:
filmes.sort_values('total_de_votos', ascending = False).head()

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,97999.0,4.424188
356,Forrest Gump (1994),Comedy|Drama|Romance|War,97040.0,4.056585
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,92406.0,4.173971
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,87899.0,4.151412
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,84545.0,4.149695

# Uma segunda Heurística

In [11]:
filmes.sort_values('nota_media', ascending = False).head()

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
169338,Brad Williams: Daddy Issues (2016),Comedy,2.0,5.0
187729,Ab-normal Beauty (2004),Horror,1.0,5.0
172149,Back to You and Me (2005),Drama|Romance,1.0,5.0
160966,You're Human Like the Rest of Them (1967),(no genres listed),1.0,5.0
134387,At Ellen’s Age (2011),Comedy|Drama,1.0,5.0

In [12]:
filmes.query('total_de_votos >= 10').sort_values('nota_media', ascending = False).head()

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
171705,Den radio (2001),(no genres listed),13.0,4.576923
171011,Planet Earth II (2016),Documentary,853.0,4.486518
159817,Planet Earth (2006),Documentary,1384.0,4.458092
318,"Shawshank Redemption, The (1994)",Crime|Drama,97999.0,4.424188
170705,Band of Brothers (2001),Action|Drama|War,984.0,4.399898

In [13]:
filmes_com_50mais_votos = filmes.query('total_de_votos >= 50')
filmes_com_50mais_votos.sort_values('nota_media', ascending = False).head()

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
171011,Planet Earth II (2016),Documentary,853.0,4.486518
159817,Planet Earth (2006),Documentary,1384.0,4.458092
318,"Shawshank Redemption, The (1994)",Crime|Drama,97999.0,4.424188
170705,Band of Brothers (2001),Action|Drama|War,984.0,4.399898
174053,Black Mirror: White Christmas (2014),Drama|Horror|Mystery|Sci-Fi|Thriller,1074.0,4.350559

In [15]:
eu_assisti = [1, 21, 19, 10, 11, 7, 2]
filmes.loc[eu_assisti]

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68469.0,3.886649
21,Get Shorty (1995),Comedy|Crime|Thriller,25699.0,3.568368
19,Ace Ventura: When Nature Calls (1995),Comedy,24913.0,2.642014
10,GoldenEye (1995),Action|Adventure|Thriller,33086.0,3.431633
11,"American President, The (1995)",Comedy|Drama|Romance,19669.0,3.660278
7,Sabrina (1995),Comedy|Romance,15301.0,3.371348
2,Jumanji (1995),Adventure|Children|Fantasy,27143.0,3.246583

In [21]:
aventura_infantil_fantasia = filmes_com_50mais_votos.query("generos=='Adventure|Children|Fantasy'")
aventura_infantil_fantasia.drop(eu_assisti, errors='ignore').sort_values('nota_media', ascending = False).head()

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,27434.0,3.674892
80748,Alice in Wonderland (1933),Adventure|Children|Fantasy,117.0,3.564103
2161,"NeverEnding Story, The (1984)",Adventure|Children|Fantasy,12426.0,3.500161
50601,Bridge to Terabithia (2007),Adventure|Children|Fantasy,1987.0,3.430549
41566,"Chronicles of Narnia: The Lion, the Witch and ...",Adventure|Children|Fantasy,13042.0,3.409216